body {
  margin: 0px;
  font-family: 'Capriola', sans-serif;
  background: linear-gradient(-75deg, #7742B3,#593286, #3B2159, #27163B);
  ;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
