.content-page-wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);
  color: #DFD2EE;
  text-shadow: 1px 1px 5px black;

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;

    .contact-bullet-points {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 21px;

      .bullet-point-group {
        display: flex;
        align-items: center;

        .icon {
          padding: 8px;
          border-radius: 3px;
          font-size: 2em;
          color: $teal;
          box-shadow: 1px 1px 5px black;
        }

        .text {
          font-size: 1.5em;
          font-weight: 900;
          margin-left: 21px;
        }
      }
    }
  }
}

.contact-pic {
  border-right: 1px solid #0A9DFF;
  border-right-width: thin;
}